fastapi
uvicorn[standard]
pydantic-settings
loguru
selenium
tenacity
passlib[bcrypt]
python-dotenv
slowapi
python-multipart
motor  # Async MongoDB driver
pymongo  # MongoDB driver
beanie  # ODM for MongoDB