fastapi
uvicorn[standard]
pydantic-settings
pydantic[email]
loguru
selenium
tenacity
passlib[bcrypt]
python-dotenv
slowapi
python-multipart
google-cloud-firestore  # Google Cloud Firestore
google-cloud-core      # Google Cloud Core
beautifulsoup4         # Web scraping
lxml                   # XML/HTML parsing